# Car Web App Analysis <a class="tocSkip">

## Contents <a class="tocSkip"> <a id='back'></a>

* [Introduction](#introduction)
* [1. Data Overview](#data_overview)
    * [1.1 Initialization](#initialization)
    * [1.2 Load Data](#load_data)
* [2. Prepare the Data](#prepare_data)
* [3. Analysis](#analysis)
* [4. General conclusion](#conclusion)

# Introduction <a id='introduction'></a>

The focus of this project is to focus on common software engineering techniques to create and manage python virtual environments, developing a web application, and deploying it to the cloud service, Render, to make it accesible to the public.

The provided dataset `vehicles_us.csv` is provided for the analysis.

# Data Overview <a id='data_overview'></a>

## Initialization <a id='initialization'></a>

In [29]:
# importing applicable libraries
import pandas as pd
import plotly.express as px
import streamlit as st

## Load data <a id='load_data'></a>

In [30]:
# Load the dataset
df = pd.read_csv('vehicles_us.csv')

df['manufacturer'] = df['model'].apply(lambda x:
x.split()[0])

# Prepare the data <a id='prepare_data'></a>

In [31]:
# Print the general/summary information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
 13  manufacturer  51525 non-null  object
dtypes: float64(4), int64(2), object(8)
memory usage: 5.5+ MB

In [32]:
# Print a sample of the df
display(df.head())

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,manufacturer
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,bmw
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,ford
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,hyundai
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9,ford
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,chrysler

In [33]:
# checking for duplicated rows
print(df.duplicated().sum())
print()

# counting the number of missing values
print(df.isna().sum())
print()

0

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
manufacturer        0
dtype: int64

In [34]:
# Calculating percentage of row with missing values to determine importance

total_rows = 51525
missing_model_year = 3619
missing_cylinders = 5260
missing_odometer = 7892
missing_paint_color = 9267
missing_is_4wd = 25953

percent_missing_model_year = (missing_model_year/total_rows)*100
print('% model_year rows missing =', percent_missing_model_year)

percent_missing_cylinders = (missing_cylinders/total_rows)*100
print('% cylinders rows missing =', percent_missing_cylinders)

percent_missing_odometer = (missing_odometer/total_rows)*100
print('% odometer rows missing =', percent_missing_odometer)

percent_missing_paint_color = (missing_paint_color/total_rows)*100
print('% paint_color rows missing =', percent_missing_paint_color)

percent_missing_is_4wd = (missing_is_4wd/total_rows)*100
print('% is_4wd rows missing =', percent_missing_is_4wd)

% model_year rows missing = 7.023774866569626
% cylinders rows missing = 10.208636584182436
% odometer rows missing = 15.316836487142163
% paint_color rows missing = 17.985443959243085
% is_4wd rows missing = 50.36972343522562

Missing model_year, cylinders, and odometer rows account for about 7%, 10%, and 15%, respectively, of the data. Due to these relatively low percentages and its inherent importance regarding accuracy when purchasing a car, missing values will be replaced with "unknown" rather than imputing a model year, cylinders, and odometer values.

Missing paint_color rows are not a high-importance feature when choosing a car, thus the missing values will also be replaced with "unknown".

While missing is_4wd rows accounts for about 50% of the data, because that is not the focus of this analysis, the missing values will be left with an "N/A" placeholder.

In [35]:
# Replace missing values in the model_year column with "unknown"
df['model_year'].fillna('unknown', inplace=True)

# Replace missing values in the model_year column with "unknown"
df['cylinders'].fillna('unknown', inplace=True)

# Replace missing values in the model_year column with "unknown"
df['odometer'].fillna('unknown', inplace=True)

# Replace missing values in the model_year column with "unknown"
df['paint_color'].fillna('unknown', inplace=True)

# Replace missing values in the model_year column with "unknown"
df['is_4wd'].fillna('unknown', inplace=True)

# Confirm no more missing values
print(df.isna().sum())
print()

price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
manufacturer    0
dtype: int64

Because no numerical calculations are being performed for analysis, it is not needed to change data types for the columns.

# Analysis <a id='analysis'></a>

In [36]:
# Perform exploratory analysis

st.header('Car Analysis App')
st.subheader('Exploring Car Advertisement Data')

# data viewer
# create a text header above the dataframe
st.header('Data Viewer') 
# display the dataframe with streamlit
st.dataframe(df)

2023-06-23 22:50:05.421
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\toria\AppData\Roaming\Python\Python310\site-packages\ipykernel_launcher.py [ARGUMENTS]
2023-06-23 22:50:09.876 Serialization of dataframe to Arrow table was unsuccessful due to: ("Could not convert 'unknown' with type str: tried to convert to double", 'Conversion failed for column model_year with type object'). Applying automatic fixes for column types to make the dataframe Arrow-compatible.

DeltaGenerator()

In [37]:
# vehicle types by manufacturer
st.header('Vehicle types by manufacturer')
# create a plotly histogram figure
fig = px.histogram(df, x='manufacturer', color='type')
# display the figure with streamlit
st.write(fig)

In [38]:
# histogram of condition vs model year
st.header('Histogram of `condition` vs `model_year`')
fig = px.histogram(df, x='model_year', color='condition')
st.write(fig)

In [39]:
# histogram of car prices
st.header('Histogram of Car Prices')
fig = px.histogram(df, x='price')
st.plotly_chart(fig)

DeltaGenerator()

In [40]:
# scatter plot of mileage vs price
st.header('Scatter Plot of Mileage vs Price')
fig = px.scatter(df, x='odometer', y='price')
st.plotly_chart(fig)

DeltaGenerator()

In [41]:
# compare price distribution between manufacturers
st.header('Compare price distribution between manufacturers')
# get a list of car manufactureres
manufac_list = sorted(df['manufacturer'].unique())
# get user's inputs from a dropdown menu
manufacturer_1 = st.selectbox(
                                label='Select manufacturer 1', # title of the select box
                                options=manufac_list, #options listed in the select box
                                index=manufac_list.index('chevrolet') # default pre-selected option
                                )
# repeat for the second dropdown menu
manufacturer_2 = st.selectbox(
                                label='Select manufacturer 2',
                                options=manufac_list,
                                index=manufac_list.index('hyundai')
                                )
#filter the dataframe
mask_filter = (df['manufacturer'] == manufacturer_1) | (df['manufacturer'] == manufacturer_2)
df_filtered = df[mask_filter]

# add a checkbox if a user wants to normalize the histogram
normalize = st.checkbox('Normalize histogram', value=True)
if normalize:
    histnorm = 'percent'
else:
    histnorm = None

# create a plotly histogram figure
fig = px.histogram(df_filtered,
                    x='price',
                    nbins=30,
                    color='manufacturer',
                    histnorm=histnorm,
                    barmode='overlay')

# display the figure with streamlit
st.write(fig)

# Conclusion <a id='conclusion'></a>

Based on the analysis, Ford and Chevrolet appear to be the top top two manufacturers regarding types of vehicles produced based on the bar graph of vehicle types by manufacturer. Looking at the histogram of condition vs model_year, there are about twice as many vehicles that are in excellent or new condition as well, most of which being aroud the year 2013. Based on the histogram of car prices, vehicles at about $5000 appear to be the most common, with less and less cars available as the price goes up. As one would expect, looking at the scatterplot, the price of the vehicle also decreases as mileage increases.

This data analysis may be viewed on Render at https://sprint-4-project-kpit.onrender.com/